![logo_usjt.png](https://www.usjt.br/app/themes/mobister/dist/images/sao-judas-universidade.png)

# Gerenciamento de Dados e Informação
- **Professores**: 
- Anderson Sanches <anderson.sanches@saojudas.br>
- Sergio Bonato <antonio.bonato@saojudas.br>

# Atividade05 - Pandas para Análise e Tratamento de Dados

**Conteúdo**
- Leitura de dados
- Filtros
- Agregações
- Agrupamentos
- Pivot Tables
- Estatísticas
- Séries Temporais

In [1]:
#configuração do notebook para acesso aos datasets
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/aula_pandas/datasets'

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd
# definicao dos dados em listas
referencias = ['jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set']
cdi = [0.54, 0.49, 0.47, 0.52, 0.54, 0.47, 0.57, 0.50, 0.46]
ipca = [0.32, 0.43, 0.75, 0.57, 0.13, 0.01, 0.19, 0.11, -0.04]
igpm = [0.01, 0.88, 1.26, 0.92, 0.45, 0.80, 0.40, -0.67, -0.01]

In [3]:
# criação do dataframe e definição do índice
indicadores = pd.DataFrame(data={'IPCA': ipca, 'CDI': cdi, 'IGPM': igpm}, index=referencias)
indicadores

     IPCA   CDI  IGPM
jan  0.32  0.54  0.01
fev  0.43  0.49  0.88
mar  0.75  0.47  1.26
abr  0.57  0.52  0.92
mai  0.13  0.54  0.45
jun  0.01  0.47  0.80
jul  0.19  0.57  0.40
ago  0.11  0.50 -0.67
set -0.04  0.46 -0.01

**1** Selecionar o CDI de todos os meses jan, mar, abr, jun, set

In [4]:
# Solução
indicadores.loc[['jan', 'mar', 'abr', 'jun','set'],['CDI']]

      CDI
jan  0.54
mar  0.47
abr  0.52
jun  0.47
set  0.46

**2** Filtrar todos os registros nos quais o IGP-M é maior que o IPCA

In [6]:
# Solução
indicadores[indicadores['IGPM'] > indicadores['IPCA']]

     IPCA   CDI  IGPM
fev  0.43  0.49  0.88
mar  0.75  0.47  1.26
abr  0.57  0.52  0.92
mai  0.13  0.54  0.45
jun  0.01  0.47  0.80
jul  0.19  0.57  0.40
set -0.04  0.46 -0.01

**3** Apresentar todas os registros nos quais o IGPM é maior que o IPCA e o CDI

In [7]:
# Solução
indicadores[(indicadores['IGPM'] > indicadores['IPCA']) & (indicadores['IGPM'] > indicadores['CDI'])]

     IPCA   CDI  IGPM
fev  0.43  0.49  0.88
mar  0.75  0.47  1.26
abr  0.57  0.52  0.92
jun  0.01  0.47  0.80

**4** Apresentar o IPCA nos meses nos quais o IGPM foi negativo

In [8]:
# Solução
indicadores[(indicadores['IPCA'] < 0)]

     IPCA   CDI  IGPM
set -0.04  0.46 -0.01

#### Carregando os dados da aba 2 do arquivo *bec_exel_abas.xlsx*

In [21]:
bec_abas = pd.read_excel(path+'/02-DS_BEC_abas.xlsx', sheet_name=1)
bec_abas.head(5)

FileNotFoundError: ignored

**5** Listar os 5 maiores valores negociados em uma licitação a partir do arquivo carregado *bec_excel_abas.xlsx*

In [0]:
# Solução
indicadores.min().iloc[0:5]

In [0]:
# dados públicos da BEC para análise 
df_bec = pd.read_excel(path+'/03-DS_BEC.xlsx', error_bad_lines=False)
df_bec = df_bec[['Cód Desc Órgão', 'Mês Ano Encerramento', 'Cod Desc Fornecedor', 'Descrição Procedimento Compra', 'Cod Desc Item', 'Quantidade de Item','Valor Unitário Negociado', 'Valor Total Negociado em R$']]
# criando uma nova coluna
df_bec['Valor Negociado Mi'] = df_bec['Valor Total Negociado em R$'] / 1000000
df_bec.head(4)

**6** Contar quantos orgãos distintos que efetuaram licitações pela BEC

In [15]:
# Solução
df_ipca.nlargest(5, 'valor')

NameError: ignored

**7** Calcular o total valor total negociado em licitações pelo órgão '20000 - SECRETARIA DA FAZENDA E PLANEJAMENTO'

In [16]:
# Solução
df_bec.groupby('Cód Desc Órgão')[['20000 - SECRETARIA DA FAZENDA E PLANEJAMENTO']].sum()

NameError: ignored

**8** Calcular a quantidade de fornecedores de cada órgão distribuídos nos tipos distintos de procedimentos de compra. Listar apenas 6 registros

In [0]:
# Solução
df_bec['Cod Desc Fornecedor'].nunique().iloc[0:6]

**9** Calcular o valor mínimo, máximo, média e desvio padrão dos valores unitarios agrupados por fornecedor e código de descrição do item.

In [0]:
# Solução
df_bec.loc[df_bec['Cod Desc Item'] == '20000 - SECRETARIA DA FAZENDA E PLANEJAMENTO',['Valor Unitário Negociado']].min()
df_bec.loc[df_bec['Cod Desc Item'] == '20000 - SECRETARIA DA FAZENDA E PLANEJAMENTO',['Valor Unitário Negociado']].max()
df_bec.loc[df_bec['Cod Desc Item'] == '20000 - SECRETARIA DA FAZENDA E PLANEJAMENTO',['Valor Unitário Negociado']].mean()

**10** Calcular o valor total negociado em cada encerramento de mês. O encerramento do mês deve ser apresentado como coluna. Utilizar o total negociado em milhões (Valor Negociado Mi).

In [0]:
# Solução

**11** Calcular o valor total negociado e quantidade de itens adquiridas em cada encerramento de mês

In [0]:
# Solução

In [17]:
# recuperação da cotação da VALE3
from pandas_datareader import data
df_vale3 = data.DataReader('VALE3.SA', start='2010', end='2020', data_source='yahoo')
df_vale3.tail()

/usr/local/lib/python3.6/dist-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

                 High        Low       Open      Close      Volume  Adj Close
Date
2019-12-20  54.990002  54.150002  54.770000  54.790001  42124200.0  53.375641
2019-12-23  54.980000  54.400002  54.900002  54.580002  10225700.0  53.171062
2019-12-26  55.000000  54.509998  54.810001  54.790001  20410000.0  53.375641
2019-12-27  54.000000  53.419998  53.990002  53.599998  13920400.0  53.599998
2019-12-30  53.860001  53.200001  53.650002  53.299999  11928100.0  53.299999

**12** Criar uma coluna com o valor da média móvel de 10 períodos da VALE3 baseado no valor de fechamento.

In [20]:
# Solução
media_movel = df_vale3['Close'].rolling(7).mean()
media_movel.tail(10)

Date
2019-12-13    51.925714
2019-12-16    52.267143
2019-12-17    52.562857
2019-12-18    52.852857
2019-12-19    53.252857
2019-12-20    53.675714
2019-12-23    53.908572
2019-12-26    54.055715
2019-12-27    54.092857
2019-12-30    54.075715
Name: Close, dtype: float64

**13** Criar uma coluna com o valor do retorno diário da VALE3 baseado no valor de fechamento (Close) 

*Retorno diário(t) = Close(t) - Close(t-1)*

In [0]:
# Solução